PORT=3000

DATABASE_URL="postgresql://usuario:senha@localhost:5432/movly_db?schema=public"

JWT_SECRET="sua_chave_jwt"

TMDB_API_KEY="sua_chave_tmdb"

GOOGLE_BOOKS_API_KEY="sua_chave_google_books"

FRONTEND_URL="http://localhost:5173"